@model IEnumerable<ThemeParkApplication.Models.Concessions>

@{
    ViewData["Title"] = "Concessions";
}

@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<br /><br />



<h2>Concessions <span class="badge badge-pill badge-warning">@Model.Count()</span></h2>
<hr />
<div class="btn-group" role="group" aria-label="">
    <a class = "btn btn-secondary btn-outline-success" asp-action="Index" asp-route-sortOrder="@ViewData["ShowOpenParm"]">Show Open</a>
    <a class = "btn btn-secondary btn-outline-danger" asp-action="Index" asp-route-sortOrder="@ViewData["ShowClosedParm"]">Show Closed</a>
    <a class = "btn btn-secondary btn-outline-info" asp-action="Index" asp-route-sortOrder="@ViewData["ShowAllParm"]">Show All</a>
</div>



<hr />
<div class="row">

    @foreach (var item in Model)
    {

        <div class="card mb-3 ml-3" style="width: 22rem;">
            <img class="card-img-top" src="~/images/alibaba.JPG" alt="Card image cap">
            <div class="card-body">

                <h5 class="card-title">
                    @item.ConcessionName
                    @if (item.ConcessionStatusNavigation.ConcessionStatus == "OPEN")
                    {
                        <span class="badge badge-pill badge-success float-right">OPEN</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger float-right">CLOSED</span>
                    }
                </h5>
                <p class="badge-pill badge-info">@item.StoreTypeNavigation.StoreType <span class="badge-pill badge-infofloat-right">@item.OpeningTime</span> to <span class="badge-pill badge-info float-right">@item.ClosingTime</span></p>
                <span class="badge-pill badge-warning">Managed by</span><div class="badge-pill badge-danger"> @item.Manager.FirstName @item.Manager.LastName</div><p></p>

                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                {
                    <a class="btn btn-sm btn-outline-primary col-5" asp-action="Edit" asp-route-id="@item.ConcessionId"><i class="fas fa-edit"></i> Edit</a>
                    <a class="btn btn-sm btn-outline-danger col-5 float-right" asp-action="Delete" asp-route-id="@item.ConcessionId"><i class="fas fa-trash"></i> Delete</a>
                }
            </div>
        </div>
    }

    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
    {
        <div class="card mb-3 ml-3 text-center" style="width: 20rem;">
            <div class="card-body">
                <a asp-action="Create" class="btn btn-sm btn-success btn-block"><i class="fas fa-plus-square"></i> Add New Concession</a>
            </div>
        </div>
    }
</div>