@model ThemeParkApplication.Models.Employees

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitleNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitleNavigation.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supervisor.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorksAtAttrNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorksAtAttrNavigation.AttractionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorksAtConcNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorksAtConcNavigation.ConcessionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
