@model IEnumerable<ThemeParkApplication.Models.Employees>

@{
    ViewData["Title"] = "Employees";
}
@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<h2>Employees</h2>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>

            <th>
                Last Name
            </th>

            <th>
                Gender
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Job Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                WorksAtAtt
            </th>
            <th>
                WorksAtConc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleNavigation.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorksAtAttrNavigation.AttractionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorksAtConcNavigation.ConcessionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
