@model IEnumerable<ThemeParkApplication.Models.Closures>
@{
    ViewData["Title"] = "generateReportAsync";
}

<h2>Park Closed <span class="badge badge-pill badge-warning">@Model.Count()</span></h2>
<p>From  @TempData["month"]/@TempData["year"] To   @TempData["toMonth"]/@TempData["toYear"]</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Close ID
            </th>
            <th>
                Date Closed
            </th>
            <th>
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClosureId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateClosure.Month)/@Html.DisplayFor(modelItem => item.DateClosure.Day)/@Html.DisplayFor(modelItem => item.DateClosure.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationClosure)
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>