@model IEnumerable<ThemeParkApplication.Models.Closures>

@{
    ViewData["Title"] = "Closures";
}
@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Closures</h2>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-sm btn-success"><i class="fas fa-plus-square"></i> Add New Close date</a>
    </p>

    <form action="Closures/generateReportAsync" method="post">
        @Html.DropDownList("YearNumber", Enumerable.Range(2010, 9).Select(x => new SelectListItem { Text = x.ToString() }).Reverse(), "Year")

        @Html.DropDownList("MonthNumber", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Month")
        <b>To</b>
        @Html.DropDownList("ToYearNumber", Enumerable.Range(2010, 9).Select(x => new SelectListItem { Text = x.ToString() }).Reverse(), "Year")
        @Html.DropDownList("ToMonthNumber", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Month")

        <input class="btn btn-default" type="submit" value="Generate Report for Park Close">
        <a class="btn btn-dark" asp-controller="Closures" asp-action="NumberOfClosuresStatistic"> See Statistic for rainouts</a>
    </form>


}
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Date of Closure
            </th>
            <th>
                Duration
            </th>
            <th>
                Attraction ID
            </th>
            <th>
                Concesssion ID
            </th>
            <th>
                Reason
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateClosure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DurationClosure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attr.AttractionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conc.ConcessionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonNavigation.Reason)
                </td>
                <td>

                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ClosureId"><i class="fas fa-edit"></i> Edit</a>
                        <a class="text-danger" asp-action="Delete" asp-route-id="@item.ClosureId"><i class="fas fa-trash"></i> Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
