@model IEnumerable<ThemeParkApplication.Models.Transactions>

@{
    ViewData["Title"] = "Transactions";
}
@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h2>Transactions</h2>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create" class="btn btn-sm btn-success"><i class="fas fa-plus-square"></i> Add New Transaction</a>
    </p>

<form action="Transactions/NumberOfCustomers" method="post">
    @Html.DropDownList("YearNumber", Enumerable.Range(2010, 9).Select(x => new SelectListItem { Text = x.ToString() }).Reverse(), "Year")

    @Html.DropDownList("MonthNumber", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Month")
    <b>To</b>
    @Html.DropDownList("ToYearNumber", Enumerable.Range(2010, 9).Select(x => new SelectListItem { Text = x.ToString() }).Reverse(), "Year")
    @Html.DropDownList("ToMonthNumber", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Month")

    <input class="btn btn-default" type="submit" value="Generate Number of Customers">
</form>
    <br />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Merch)
            </th>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Sale Amount
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Guest)
            </th>

            <th>
                Seller Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Merch.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.SaleAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Guest.CustomerFirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SellerEmployee.FirstName)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
        {
            <a asp-action="Edit" asp-route-id="@item.TransactionId"><i class="fas fa-edit"></i> Edit</a>
            <a class="text-danger" asp-action="Delete" asp-route-id="@item.TransactionId"><i class="fas fa-trash"></i> Delete</a>

}
            </td>
        </tr>
        }
    </tbody>
</table>
