@model ThemeParkApplication.Models.Maintenance

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkFinishDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkFinishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attr.AttractionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Conc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Conc.ConcessionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceEmployee.EmployeeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderTypeNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTypeNavigation.OrderType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkStatusNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkStatusNavigation.WorkStatusIndex)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkOrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
