@model IEnumerable<ThemeParkApplication.Models.Attractions>

@{
    ViewData["Title"] = "Attractions";
}
@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<br /><br />
<h2>Attractions</h2>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Attraction Name
            </th>
            <th>
                Height Requirement
            </th>
            <th>
                Age Requirement
            </th>
            <th>
                Attraction Status

            </th>
            <th>
                Attraction Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeightRequirement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRequirement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionStatusNavigation.AttractionStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionTypeNavigation.AttractionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.EmployeeId)
                </td>
                <td> <a asp-action="Details" asp-route-id="@item.AttractionId">Details</a></td>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                {
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.AttractionId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.AttractionId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
