@model IEnumerable<ThemeParkApplication.Models.Attractions>

@{
    ViewData["Title"] = "Attractions";
}
@using Microsoft.AspNetCore.Identity
@using ThemeParkApplication.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager




<h2>Attractions <span class="badge badge-pill badge-warning">@Model.Count()</span></h2>
<hr />
<div class="btn-group" role="group" aria-label="">
    <a class="btn btn-secondary btn-outline-success" asp-action="Index" asp-route-sortOrder="@ViewData["ShowOpenParm"]">Show Open <span class="badge badge-warning">@ViewBag.thing[0]</span></a>
    <a class="btn btn-secondary btn-outline-danger" asp-action="Index" asp-route-sortOrder="@ViewData["ShowClosedParm"]">Show Closed <span class="badge badge-warning">@ViewBag.thing[1]</span></a>
    <a class="btn btn-secondary btn-outline-info" asp-action="Index" asp-route-sortOrder="@ViewData["ShowAllParm"]">Show All <span class="badge badge-warning">@ViewBag.totalthings</span></a>
</div>

<hr />


<div class="row">

    @foreach (var item in Model)
    {
        <div class="card mb-3 ml-3" style="width: 22rem;">
            <img class="card-img-top" src="~/images/Attractions/@(item.AttractionName).jpg" width="320" height="240" alt="Card image cap">
            <div class="card-body">

                <h5 class="card-title">
                    @item.AttractionName
                    @if (item.AttractionStatusNavigation.AttractionStatus == "OPEN")
                    {
                        <span class="badge badge-pill badge-success float-right">OPEN</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-danger float-right">CLOSED</span>
                    }
                </h5>
                @if (item.AgeRequirement != null)
                {
                    <h6>Minimum Age <span class="badge badge-pill badge-info float-right">@item.AgeRequirement years +</span></h6>
                }
                else
                {
                    <h6>Minimum Age <span class="badge badge-pill badge-info float-right">All</span></h6>
                }

                @if (item.HeightRequirement != null)
                {
                    <h6>Minimum Height <span class="badge badge-pill badge-info float-right">@item.HeightRequirement inches+</span></h6>
                }
                else
                {
                    <h6>Minimum Height <span class="badge badge-pill badge-info float-right">All</span></h6>

                }
                <h6>Managed by <span class="badge badge-pill badge-info float-right"> @item.Manager.FirstName @item.Manager.LastName</span></h6><p></p>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
                {
                    <a class="btn btn-sm btn-outline-primary col-5" asp-action="Edit" asp-route-id="@item.AttractionId"><i class="fas fa-edit"></i> Edit</a>
                    <a class="btn btn-sm btn-outline-danger col-5 float-right" asp-action="Delete" asp-route-id="@item.AttractionId"><i class="fas fa-trash"></i> Delete</a>
                }
            </div>
        </div>
    }

    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Manager") || User.IsInRole("Admin")))
    {
        <div class="card mb-3 ml-3 text-center" style="width: 20rem;">
            <div class="card-body">
                <a asp-action="Create" class="btn btn-sm btn-success btn-block"><i class="fas fa-plus-square"></i> Add New Attraction</a>
            </div>
        </div>
    }
</div>
